@tailwind base;
@tailwind components;
@tailwind utilities;

/* .container-wrapper {
    max-width: 1240px;
    margin: 0 auto;
  }
  .full-width-div {

    margin-left: calc(-50vw + 50% - 8px);
    margin-right: calc(-50vw + 50% - 8px);
    position: relative;

  } */